{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="{{ description|default:'Default prototype description' }}">
    <meta name="keywords" content="{{ keywords|default:'prototype' }}">
 	<title>{% block title %}Contact{% endblock %}</title>
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body id="{% block body-id %}body{% endblock %}">
	{% block content %}{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>